:root {
  --basic-red: #ee3643;
  --basic-green: #63a63e;
  --basic-darkgreen: #518534;
  --basic-grey: #32425C;
  --basic-yellow: #ffd180;
  --basic-greylight: #c5c5c5;
  --basic-darkgrey: #293449;
  --basic-darkgrey2: #f9f5f0;
  --basic-background: #f1f5f7;

  --white: #fff;
  --black: #000;

  --special-almost-black: #212a3a;
  --special-yellow: #ffbf47;
  --special-blue: #3bbce3;
  --special-lilac: #dc91d8;
  --special-green: #8ed78f;
  --special-yellow2: #ffc047;

  --sucess: #5fbb2d;
  --error: #ba2732;

  --light-grey: #eaeaea;
  --light-grey2: #a9a9a9;
  --just-grey: #f7f3ec;
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}

.color-white {
  color: var(--white);
}

.color-red {
  color: var(--basic-red);
}

.color-black {
  color: var(--black);
}

.color-darkgrey {
  color: var(--basic-darkgrey);
}

.background-basic-grey {
  background-color: var(--basic-grey);
}

.background-basic-red {
  background-color: var(--basic-red);
}

.background-basic-darkgrey {
  background-color: var(--basic-darkgrey);
}

.background-basic-green {
  background-color: var(--basic-green);
}

.background-basic-background {
  background-color: var(--basic-background);
}

.background-white {
  background-color: var(--white);
}

.pt-sans {
  font-family: "Pt Sans", sans-serif;
}

.order-navigation,
.authentication-menu,
.site-navigation,
.producer-list,
.service-list,
.partner-list,
.catalog-list,
.path-list {
  list-style: none;
  padding-inline-start: 0;
}

.top-row {
  font-size: 18px;
}

.short-description {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
}

.contacts-phone-block {
  border: 2px var(--white) solid;
}

.contacts-phone-link {
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
}

.contacts-address {
  font-size: 14px;
  line-height: 24px;
}

.authentication-menu {
  font-size: 21px;
  line-height: 21px;
}

.main-nav {
  font-size: 18px;
  line-height: 24px;
}

.path-list {
  text-transform: uppercase;
  line-height: 18px;
}

.product-type,
.description-header,
.service-header,
.post-script-header {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
}

.filter {
  text-transform: uppercase;
  font-family: "Pt Sans", sans-serif;
  line-height: 18px;
}

.legend {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}

.filter-label {
  line-height: 18px;
}

.filter-button {
  line-height: 18px;
  text-transform: inherit;
}

.product-item,
.producer-list__item {
  border: 1px solid var(--light-grey);
}

.product-item-header {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
}

.product-item-old-price {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  text-decoration: line-through;
  color: var(--light-grey2);
}

.add-to-favorites-button {
  border: 3px solid var(--basic-green);
}

.button {
  text-transform: uppercase;
  color: var(--white);
}

.partner-list {
  list-style-image: url("../img/line.svg");
  font-size: 18px;
  line-height: 24px;
  padding-inline-start: 40px;
}

.contacts-button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--basic-red);
}

.main-footer {
  font-size: 18px;
  line-height: 24px;
}

.bottom-row {
  font-size: 16px;
  line-height: 18px;
}

.icon {
  padding: 10px;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  object-fit: none;
  background-color: var(--special-almost-black);
}

.authentication-button {
  color: var(--black);
}

.user-link {
  color: var(--basic-darkgrey);
}

.user-block {
  background-color: var(--white);
}

.site-navigation-link,
.footer-site-navigation-link {
  color: var(--white);
}

.catalog-list-link,
.feedback {
  color: var(--basic-yellow);
}

.buy-item-button {
  color: var(--white);
  background-color: var(--basic-green);
}

.upper-logo {
  color: var(--white);
  background-color: var(--basic-red);
}

.order-button {
  color: var(--white);
}

.make-order-button {
  background-color: var(--basic-green);
}

.card {
  color: var(--white);
}

.material {
  background-color: var(--special-yellow);
}

.instrument {
  background-color: var(--special-blue);
}

.technique {
  background-color: var(--special-lilac);
}

.discount {
  background-color: var(--special-green);
}

.delivery {
  background-color: var(--special-yellow2);
}

.new {
  background-color: var(--basic-red);
}

.card-header {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.card-button {
  background-color: rgba(255, 255, 255, 0.3);
}

.card-catalog {
  color: var(--white);
  background-image: url(../img/Man.jpg);
  width: 620px;
  height: 266px;
}

.card-catalog-shadow {
  background: rgba(0, 0, 0, 0.25);
  width: 620px;
  height: 104px;
}

.card-catalog-header {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.card-catalog-paragraph {
  font-size: 18px;
  line-height: 24px;
}

.card-catalog-button {
  background-color: Transparent;
  color: var(--white);
  outline: none;
  border: none;
  cursor: pointer;
}

.card-catalog-open-button {
  background-color: var(--basic-red);
}

.popular-items {
  text-transform: uppercase;
  background-color: var(--basic-darkgrey2);
}

.popular-items-paragraph {
  font-size: 30px;
  line-height: 30px;
}

.popular-items-button {
  background-color: var(--basic-red);
}

.service-block {
  background-color: var(--basic-background);
}

.service-button {
  color: var(--white);
  background-color: var(--basic-grey);
  outline: none;
  border: none;
}

.filter-paragraph,
.filter-range-section,
.filter-paragraph,
.sort-section {
  background-color: var(--just-grey);
}

.sort-section-paragraph {
  text-transform: uppercase;
}

.filter-price-label {
  font-weight: bold;
}

.sort-section-button {
  text-transform: uppercase;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px dashed var(--basic-red);
  opacity: 0.3;
}

.sort-section-button-sort {
  background-color: transparent;
  outline: none;
  border: none;
}

.sort-section-button-active {
  color: var(--basic-red);
  border: none;
  opacity: 1;
}

.page-number {
  border: 1px solid var(--light-grey);
  color: var(--black);
  text-transform: uppercase;
}

.page-number-active {
  background-color: var(--basic-red);
  color: var(--white);
}

.post-script-paragraph {
  font-family: "Pt Sans", sans-serif;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.top-row {
  display: flex;
}

.order-navigation {
  display: flex;
  margin: 0;
  margin-left: auto;
}

.short-description,
.contacts-address {
  margin: 0;
}

.contacts-phone-block {
  text-align: center;
}

.middle-row {
  display: flex;
  justify-content: space-between;
}

.authentication-menu {
  display: flex;
  justify-content: space-between;
}

.site-navigation {
  display: flex;
}

.site-navigation li {
  flex-grow: 1;
}

.pre-footer {
  display: flex;
  justify-content: space-between;
}

.description-section {
  flex-basis: 460px;
}

.contacts-section {
  flex-basis: 300px;
}

.catalog-list {
  display: flex;
}

.catalog-list li {
  flex-grow: 1;
}

.footer-upper-row {
  display: flex;
  justify-content: space-between;
}

.footer-contacts {
  flex-basis: 325px;
}

.footer-links {
  flex-basis: 555px;
}

.bottom-row {
  display: flex;
  justify-content: space-between;
}

.user-name {
  flex-basis: 300px;
}

.user-block {
  display: flex;
  justify-content: space-around;
}

.catalog {
  display: grid;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-columns: auto auto auto auto;
  gap: 20px;
}

.path-list {
  display: flex;
  grid-area: 1/1/2/-1;
}

.product-type {
  grid-area: 2/1/3/-1;
}

.filter {
  grid-area: 3/1/-1/2;
}

.sort-section {
  grid-area: 3/2/4/-1;
  display: flex;
  justify-content: space-between;
}

.product-item {
  width: 220px;
  height: 317px;
}

.page-number:active {
  border-color: var(--basic-red);
}

.service-button:hover {
  background-color: var(--basic-darkgrey);
  color: var(--white);
}

.service-button-active,
.service-button:active {
  color: var(--basic-grey);
  background-color: var(--white);
}

.sort-section-button:hover {
  opacity: 1;
  border-bottom-style: solid;
}

.sort-section-button:active {
  color: var(--basic-red);
  border: none;
}

.producer-list__item:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.producer-list__item:active {
  opacity: 0.5;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.search-input::placeholder {
  color: var(--white);
}

.authentication-button:hover,
.user-link {
  color: var(--basic-red);
}

.authentication-button:hover .enter-icon,
.user-block:hover .user-icon {
  fill: var(--basic-darkgrey);
}

.authentication-button:active,
.user-link:active,
.user-block:active,
.add-to-favorites-button:active {
  color: var(--basic-greylight);
}

.site-navigation-link:hover {
  background-color: var(--basic-darkgrey);
}

.site-navigation-link:active {
  opacity: 0.5;
}

.buy-item-button:hover {
  background-color: var(--sucess);
}

.buy-item-button:active {
  background-color: var(--basic-darkgreen);
}

.add-to-favorites-button:hover {
  border-color: var(--basic-grey);
}

.add-to-favorites-button:active {
  border-color: var(--basic-greylight);
}

.add-to-favorites-button:focus,
.buy-item-button:focus {
  outline: none;
}

.footer-site-navigation-link:hover,
.catalog-list-link:hover,
.feedback:hover {
  text-decoration: underline;
}

.footer-site-navigation-link:active,
.catalog-list-link:active,
.order-button:active {
  opacity: 0.5;
  text-decoration: none;
}

.icon:hover,
.icon:active {
  background-color: var(--basic-red);
}

.feedback:active {
  color: var(--error);
  text-decoration: none;
}

.search-form:hover .order-icon {
  fill: var(--white);
}

.search-input:focus .order-icon {
  fill: var(--basic-red);
}

.search-input:focus {
  background-color: var(--white);
}

.make-order-button:hover {
  background-color: var(--sucess);
}

.upper-logo:active {
  background-color: var(--error);
}

.card-catalog-open-button:active {
  background-color: var(--error);
}

.card-button:hover {
  background: #C5C5C5;
  mix-blend-mode: normal;
  opacity: 0.3;
}

.card-button:active {
  background: #A9A9A9;
  mix-blend-mode: normal;
  opacity: 0.3;
}
