:root {
  --basic-red: #ee3643;
  --basic-green: #63a63e;
  --basic-darkgreen: #518534;
  --basic-grey: #32425C;
  --basic-yellow: #ffd180;
  --basic-greylight: #c5c5c5;
  --basic-darkgrey: #293449;
  --basic-darkgrey2: #f9f5f0;
  --basic-background: #f1f5f7;

  --white: #fff;
  --black: #000;

  --special-almost-black: #212a3a;
  --special-yellow: #ffbf47;
  --special-blue: #3bbce3;
  --special-lilac: #dc91d8;
  --special-green: #8ed78f;
  --special-yellow2: #ffc047;

  --sucess: #5fbb2d;
  --error: #ba2732;

  --light-grey: #eaeaea;
  --light-grey2: #a9a9a9;
  --just-grey: #f7f3ec;
  --grey3: #d7dcde;
  --green2: #00ca74;
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.color-white {
  color: var(--white);
}

.color-red {
  color: var(--basic-red);
}

.color-black {
  color: var(--black);
}

.color-darkgrey {
  color: var(--basic-darkgrey);
}

.background-basic-grey {
  background-color: var(--basic-grey);
}

.background-basic-red {
  background-color: var(--basic-red);
}

.background-basic-darkgrey {
  background-color: var(--basic-darkgrey);
}

.background-basic-green {
  background-color: var(--basic-green);
}

.background-white {
  background-color: var(--white);
}

.pt-sans {
  font-family: "Pt Sans", sans-serif;
}

.order-navigation,
.authentication-menu,
.site-navigation,
.producer-list,
.service-list,
.partner-list,
.catalog-list,
.path-list {
  list-style: none;
  padding-inline-start: 0;
  margin: 0;
}

.top-row {
  font-size: 18px;
  color: var(--white);
  background-color: var(--basic-darkgrey);
}

.short-description {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
}

.contacts-phone-block {
  border: 2px var(--white) solid;
}

.contacts-phone-link {
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
}

.contacts-address {
  font-size: 14px;
  line-height: 24px;
}

.authentication-menu {
  font-size: 21px;
  line-height: 21px;
}

.main-nav {
  font-size: 18px;
  line-height: 24px;
}

.path-list {
  text-transform: uppercase;
  line-height: 18px;
}

.product-type,
.description-header,
.service-header,
.post-script-header {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
}

.filter {
  text-transform: uppercase;
  font-family: "Pt Sans", sans-serif;
  line-height: 18px;
}

.producer-filter,
.energy-filter,
.price-filter {
  border: none;
  margin: 0;
  padding: 0;
}

.range-filter {
  width: 220px;
}

.range-controls {
  position: relative;
  height: 41px;
  background-color: var(--just-grey);
  border-radius: 5px;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
}

.range-controls .scale {
  height: 2px;
  background-color: var(--grey3);
}

.range-controls .bar {
  width: 75%;
  height: 2px;
  background-color: var(--green2);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--white);
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 145px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-controls,
.price-controls label {
  font-size: 17px;
  line-height: 18px;
}

.price-controls input {
  width: 75px;
  padding: 10px;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-color: var(--just-grey);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.legend {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}

.check {
  padding-left: 2.4em;
  margin-bottom: 1.5em;
  display: block;
}

.check__input {
  -webkit-appearance: none;
  position: absolute;
}

.check__box {
  position: absolute;
  width: 2em;
  height: 2em;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  margin-left: -2.4em;
  margin-top: -0.1em;
}

.check__box:hover {
  background-image: url("../img/checkbox-off-hover.svg");
}

.check__input:checked + .check__box {
  background-image: url("../img/checkbox-on.svg");
}

.check__input:checked:hover + .check__box {
  background-image: url("../img/checkbox-on-hover.svg");
}

.check__input:disabled + .check__box {
  background-image: url("../img/checkbox-off-disabled.svg");
}

.check__input:checked:disabled + .check__box {
  background-image: url("../img/checkbox-on-disabled.svg");
  background-repeat: no-repeat;
}

.check__radio {
  position: absolute;
  width: 2em;
  height: 2em;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  margin-left: -2.4em;
  margin-top: -0.2em;
}

.check__radio:hover {
  background-image: url("../img/radio-off-hover.svg");
}

.check__input:checked + .check__radio {
  background-image: url("../img/radio-on.svg");
}

.check__input:checked:hover + .check__radio {
  background-image: url("../img/radio-on-hover.svg");
}

.check__input:disabled + .check__radio {
  background-image: url("../img/radio-off-disabled.svg");
}

.check__input:checked:disabled + .check__radio {
  background-image: url("../img/radio-on-disabled.svg");
  background-repeat: no-repeat;
}

.filter-button {
  line-height: 18px;
  text-transform: inherit;
}

.product-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-item,
.producer-list__item {
  border: 1px solid var(--light-grey);
}

.producer-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-item-header {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
}

.product-item-old-price {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  text-decoration: line-through;
  color: var(--light-grey2);
}

.add-to-favorites-button {
  border: 3px solid var(--basic-green);
}

.button {
  text-transform: uppercase;
  color: var(--white);
}

.partner-list {
  font-size: 18px;
  line-height: 24px;
}

.partner-list__item {
  background: url("../img/line.svg") no-repeat 0 13px;
  padding: 3px 0 3px 30px;
}

.contacts-button {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--basic-red);
}

.main-footer {
  font-size: 18px;
  line-height: 24px;
}

.bottom-row {
  font-size: 16px;
  line-height: 18px;
}

.icon {
  padding: 10px;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  object-fit: none;
  background-color: var(--special-almost-black);
}

.authentication-button {
  color: var(--black);
  background-color: var(--white);
  display: block;
  padding: 12px 24px;
}

.user-link {
  color: var(--basic-darkgrey);
}

.site-navigation-link,
.footer-site-navigation-link {
  color: var(--white);
}

.catalog-list-link,
.feedback {
  color: var(--basic-yellow);
}

.buy-item-button {
  color: var(--white);
  background-color: var(--basic-green);
}

.upper-logo {
  position: relative;
  color: var(--white);
  background-color: var(--basic-red);
}

.order-button {
  color: inherit;
}

.favorites-button,
.bucket-button {
  position: relative;
  padding-left: 30px;
}

.enter-button {
  position: relative;
  padding-left: 40px;
}


.favorites-button::before {
  position: absolute;
  content: "";
  width: 14px;
  height: 16px;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 5px;
  top: 1px;
  opacity: 0.3;
}

.bucket-button::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 5px;
  top: 1px;
  opacity: 0.3;
}

.enter-button::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 17px;
  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 15px;
  top: 13px;
  opacity: 0.3;
}

.make-order-button {
  background-color: var(--basic-green);
}

.card {
  color: var(--white);
  position: relative;
}

.material {
  background-color: var(--special-yellow);
}

.instrument {
  background-color: var(--special-blue);
}

.technique {
  background-color: var(--special-lilac);
}

.discount {
  background-color: var(--special-green);
}

.delivery {
  background-color: var(--special-yellow2);
}

.new {
  background-color: var(--basic-red);
}

.new-corner {
  position: absolute;
  right: 0;
  top: 0;
}

.card-header {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.card-button {
  background-color: rgba(255, 255, 255, 0.3);
}

.card-catalog {
  color: var(--white);
  background-image: url(../img/Man.jpg);
  width: 620px;
  height: 266px;
}

.card-catalog-shadow {
  background: rgba(0, 0, 0, 0.25);
  width: 620px;
  height: 104px;
}

.card-catalog-header {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.card-catalog-paragraph {
  font-size: 18px;
  line-height: 24px;
}

.card-catalog-button {
  background-color: Transparent;
  color: var(--white);
  outline: none;
  border: none;
  cursor: pointer;
}

.card-catalog-open-button {
  background-color: var(--basic-red);
}

.popular-items {
  text-transform: uppercase;
  background-color: var(--basic-darkgrey2);
}

.popular-items-paragraph {
  font-size: 30px;
  line-height: 30px;
}

.price-button {
  background-image: url("../img/red-button.svg");
  background-repeat: no-repeat;
  display: block;
  min-width: 141px;
  min-height: 38px;
  text-align: center;
  padding-top: 10px;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: var(--white);
}

.popular-items-button {
  background-color: var(--basic-red);
}

.service-block {
  background-color: var(--basic-background);
}

.service-button {
  color: var(--white);
  background-color: var(--basic-grey);
  outline: none;
  border: none;
}

.filter-paragraph,
.filter-range-section,
.filter-paragraph,
.sort-section {
  background-color: var(--just-grey);
}

.sort-section-paragraph {
  text-transform: uppercase;
}

.filter-price-label {
  font-weight: bold;
}

.sort-section-button {
  text-transform: uppercase;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px dashed var(--basic-red);
  opacity: 0.3;
}

.sort-section-button-sort {
  background-color: transparent;
  outline: none;
  border: none;
}

.sort-section-button-active {
  color: var(--basic-red);
  border: none;
  opacity: 1;
}

.page-number {
  border: 1px solid var(--light-grey);
  color: var(--black);
  text-transform: uppercase;
}

.page-number-active {
  background-color: var(--basic-red);
  color: var(--white);
}

.post-script-paragraph {
  font-family: "Pt Sans", sans-serif;
  margin: 0;
}

.page {
  height: 100%;
}

.page-body {
  background-color: var(--basic-background);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.top-row .container {
  display: flex;
}

.order-navigation {
  display: flex;
  margin: 0;
  margin-left: auto;
}

.short-description,
.contacts-address {
  margin: 0;
}

.contacts-phone-block {
  text-align: center;
}

.middle-row .container {
  display: flex;
  justify-content: space-between;
}

.authentication-menu {
  display: flex;
  justify-content: space-between;
  min-width: 280px;
}

.site-navigation {
  display: flex;
}

.site-navigation li {
  flex-grow: 1;
}

.pre-footer {
  display: flex;
  justify-content: space-between;
}

.description-section {
  flex-basis: 460px;
}

.contacts-section {
  flex-basis: 300px;
}

.catalog-list {
  display: flex;
}

.catalog-list li {
  flex-grow: 1;
}

.footer-upper-row .container {
  display: flex;
  justify-content: space-between;
}

.footer-contacts {
  flex-basis: 325px;
}

.footer-links {
  flex-basis: 555px;
}

.bottom-row .container {
  display: flex;
  justify-content: space-between;
}

.user-name {
  flex-basis: 300px;
}

.catalog {
  display: grid;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-columns: auto auto auto auto;
  gap: 20px;
}

.path-list {
  display: flex;
  grid-area: 1/1/2/-1;
}

.product-type {
  grid-area: 2/1/3/-1;
}

.filter {
  grid-area: 3/1/-1/2;
}

.sort-section {
  grid-area: 3/2/4/-1;
  display: flex;
  justify-content: space-between;
}

.product-item {
  min-width: 220px;
}

.options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card-catalog {
  grid-area: 2/1/4/3;
  flex-basis: 620px;
}

.popular-items,
.popular-products {
  display: flex;
  justify-content: space-between;
}

.popular-items {
  align-items: center;
}

.producer-list {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 20px;
}

.service-block .container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
}

.service-block__description-section {
  grid-column: 1/-1;
}

.pages {
  grid-column: 2;
}

.search__input {
  padding-left: 30px;
  color: inherit;
  background-color: inherit;
}

.search {
  position: relative;
}

.search__icon {
  opacity: 0.3;
  position: absolute;
  left: 10px;
  top: 5px;
}

.user-block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 21px;
  line-height: 21px;
  padding: 15px;
  background-color: var(--white);
  margin-bottom: 7px;
}

.user-settings {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 18px;
}

.point-icon {
  margin-left: 15px;
  margin-right: 15px;
}

.upper-logo::after {
  content: "";
  position: absolute;
  width: 110px;
  height: 5px;
  background-color: #BA2732;
  top: 25px;
  left: 0;
}

.user-block:hover svg {
  opacity: 1;
}

.user-block:active svg {
  opacity: 0.3;
}

.page-number:active {
  border-color: var(--basic-red);
}

.service-button:hover {
  background-color: var(--basic-darkgrey);
  color: var(--white);
}

.service-button-active,
.service-button:active {
  color: var(--basic-grey);
  background-color: var(--white);
}

.sort-section-button:hover {
  opacity: 1;
  border-bottom-style: solid;
}

.sort-section-button:active {
  color: var(--basic-red);
  border: none;
}

.producer-list__item:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.producer-list__item:active {
  opacity: 0.5;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.search__input::placeholder {
  color: inherit;
  background-color: inherit;
}

.authentication-button:hover,
.user-link:hover {
  color: var(--basic-red);
}

.user-block:hover .user-icon {
  fill: var(--basic-darkgrey);
}

.authentication-button:active,
.user-link:active,
.user-block:active,
.add-to-favorites-button:active {
  color: var(--basic-greylight);
}

.site-navigation-link:hover {
  background-color: var(--basic-darkgrey);
}

.site-navigation-link:active {
  opacity: 0.5;
}

.buy-item-button:hover {
  background-color: var(--sucess);
}

.buy-item-button:active {
  background-color: var(--basic-darkgreen);
}

.add-to-favorites-button:hover {
  border-color: var(--basic-grey);
}

.add-to-favorites-button:active {
  border-color: var(--basic-greylight);
}

.add-to-favorites-button:focus,
.buy-item-button:focus {
  outline: none;
}

.footer-site-navigation-link:hover,
.catalog-list-link:hover,
.feedback:hover {
  text-decoration: underline;
}

.order-button:hover::before,
.enter-button:hover::before {
  opacity: 1;
}

.enter-button:active::before {
  opacity: 0.3;
}

.footer-site-navigation-link:active,
.catalog-list-link:active {
  opacity: 0.5;
  text-decoration: none;
}

.icon:hover,
.icon:active {
  background-color: var(--basic-red);
}

.feedback:active {
  color: var(--error);
  text-decoration: none;
}

.search:hover .search__icon {
  opacity: 1;
}

.search__input:focus + .search__icon {
  fill: var(--basic-red);
  opacity: 1;
}

.search__input:focus {
  background-color: var(--white);
  color: var(--black);
}

.search__input:focus::placeholder {
  opacity: 0;
}

.make-order-button:hover {
  background-color: var(--sucess);
}

.make-order-button:active {
  background-color: var(--basic-green);
}

.upper-logo:active {
  background-color: var(--error);
}

.upper-logo:active::after {
  background-color: #8d1e26;
}

.card-catalog-open-button:active {
  background-color: var(--error);
}

.card-button:hover {
  background: #C5C5C5;
  mix-blend-mode: normal;
  opacity: 0.3;
}

.card-button:active {
  background: #A9A9A9;
  mix-blend-mode: normal;
  opacity: 0.3;
}
