:root {
  --basic-red: #ee3643;
  --basic-green: #63a63e;
  --basic-grey: #3d546f;
  --basic-yellow: #ffd180;
  --basic-greylight: #c5c5c5;
  --basic-greydark: #32425c;
  --basic-background: #f1f5f7;
  --white: #fff;
  --special-yellow: #ffbf47;
  --special-blue: #3bbce3;
  --special-lilac: #dc91d8;
  --special-greenlight: #8ed78f;
  --special-yellowlight: #ffd180;

  --sucess: #5fbb2d;
  --warning: #ffbf47;
  --error: #ba2732;

  --light-grey: #eaeaea;
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}

.top-row, .top-row a {
  background-color: var(--basic-greydark);
  color: var(--white);
  font-size: 18px;
}

#order-link {
  background-color: var(--basic-green);
}

.top-row li {
  padding: 9px;
}

.middle-row {
  background-color: var(--basic-background);
}

.middle-row p:first-child {
  color: var(--basic-red);
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
}

#contacts div {
  border: 2px var(--white) solid;
}

#contacts a {
  color: var(--basic-red);
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
}

#contacts p:last-child {
  font-size: 14px;
  line-height: 24px;
}

#authentication li {
  font-size: 21px;
  line-height: 21px;
  padding: 12px;
  background-color: var(--white);
}

#main-nav {
  font-size: 18px;
  line-height: 24px;
  background-color: var(--basic-greydark);
}

#main-nav li {
  padding: 16px;
}

#main-nav a {
  color: var(--white);
}

#description h2 {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
}

#description ul {
  list-style-image: url("img/line.svg");
}

#description li {
  font-size: 18px;
  line-height: 24px;
}

#description section:first-child a:last-child, #description button {
  color: var(--white);
  background-color: var(--basic-red);
  padding: 10px 40px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

footer {
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
  background-color: var(--basic-grey);
}

footer section ul:first-child a {
  color: inherit;
}

footer section ul:nth-child(2) a, footer div:nth-child(2) a {
  color: var(--basic-yellow);
}

footer div:nth-child(2) {
  font-size: 16px;
  line-height: 18px;
  background-color: var(--basic-greydark);
}

footer div:nth-child(2) img {
  background-color: black;
  padding: 10px;
  border-radius: 50%;
  height: 25px;
  width: 25px;
}
